# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-annon-key

# Mangools
MANGOOLS_X_ACCESS_TOKEN=mangools-x-token

# Semrush
SEMRUSH_USER_ID=semrush-user-id
SEMRUSH_API_KEY=semrush-api-key

# Service Account Credentials for (GA and Seach Console)
GOOGLE_TYPE=service_account
GOOGLE_PROJECT_ID=project-id
GOOGLE_PRIVATE_KEY_ID=project-private-key-id
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=service-account-email
GOOGLE_CLIENT_ID=client-id
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_CERT_URL=google-client-cert-url
GOOGLE_UNIVERSE_DOMAIN=googleapis.com

# Google Business Profile
GBP_CLIENT_ID=client-id
GBP_CLIENT_SECRET=client-secret
GBP_REDIRECT_URI=app-redirect-uri

# Grid My Business
GMB_EMAIL=your-gmb-email
GMB_PASSWORD=your-gmb-password
GMB_API_KEY=your-gmb-api-key
GMB_GM_PID=your-gmb-firebase-id
GMB_WORKSPACE_ID=your-gmb-workspace-id

# Encryption/Decryption
TOKEN_ENCRYPTION_KEY=encryption-decryption-token